<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Knights list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    Owned gold: <span th:text="${playerinformation.gold}"/>

    <a th:href="${'/checkTasks'}">Update tasks</a>

<h1>List of Knights</h1>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Experience</td>
            <td>Task to do</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody th:each="knight : ${knights}">
         <tr>
             <td th:text="${knight.id}"></td>
            <td th:text="${knight.name}"></td>
            <td th:text="${knight.experience}"></td>
             <td>
<!--                 <span th:if="${knight.task==null}" th:text="'no current task'". ></span>-->
                 <span th:if="${knight.task==null}" >no current task<a th:href="${'/assignTask?knightId='+knight.id}"  >Assign task</a></span>
                 <span th:if="${knight.task!=null}" th:text="${knight.task.description}" ></span>
             </td>
             <td><a th:href="${'/knight?id='+knight.id}" >Show all data</a></td>
             <td><a th:href="${'/knight/delete/'+knight.id}" >Delete knight</a></td>
        </tr>
    </tbody>
</table>
    <div class="row">
        <a href="/newknight">Recruit a new knight</a>
    </div>
    <br />
    <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
</body>
</html>